/* ===========================================
   CHAT – BACKGROUND OBRÁZEK
=========================================== */
.s9t60i1 {
  background-image:
    linear-gradient(
      rgba(255, 255, 255, 0.88),
      rgba(255, 255, 255, 0.88)
    ),
    url("https://www.shutterstock.com/image-vector/highperformance-liquid-chromatography-hplc-machine-600nw-2251283969.jpg");

  background-repeat: no-repeat, no-repeat;
  background-position: center 75%, center 75%;
  background-size: cover, 360px auto;
  background-attachment: scroll, fixed;
}

/* ===========================================
   MESSAGE BUBBLE – BORDER
=========================================== */
._11kfxpg0 {
  background-color: #f1f2f2;
  color: #1a1e23;
  font-family: var(--_1bof89na);
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  font-size: 14px;
  line-height: 20px;
  border-radius: 10px;
  width: fit-content;

  /* border */
  border: 1px solid var(--_1bof89n5);
}
