/* ===========================================
   CHAT – BACKGROUND OBRÁZEK
=========================================== */
.s9t60i1 {
  background-image:
    linear-gradient(
      rgba(255, 255, 255, 0.88),
      rgba(255, 255, 255, 0.88)
    ),
    url("https://www.shutterstock.com/image-vector/highperformance-liquid-chromatography-hplc-machine-600nw-2251283969.jpg");

  background-repeat: no-repeat, no-repeat;
  background-position: center 75%, center 75%;
  background-size: cover, 360px auto;
  background-attachment: scroll, fixed;
}

/* ===========================================
   MESSAGE BUBBLE
=========================================== */
._11kfxpg0 {
  background-color: #f1f2f2;
  color: #1a1e23;
  font-family: var(--_1bof89na);
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  font-size: 14px;
  line-height: 20px;
  border-radius: 10px;
  width: fit-content;
  border: 1px solid #397dff00;
}

/* ===========================================
   BUTTON
=========================================== */
._1q15b0b1 {
    border-radius: 8px;
    color: #ffffff;
    background-color: #1363AA;
    line-height: 20px;
    padding: 7px 12px 6px;
    white-space: normal;
    word-break: break-word;
    text-align: left;
    height: fit-content;
    border: 1px solid #397dff00;
}
