/* jen kvůli vrstvení backgroundu */
.s9t60i1 { 
  position: relative;
}

/* background obrázek fixně (nepohybuje se při scrollu) */
.s9t60i1::before{
  content:"";
  position: fixed;            /* ✅ drží pozici při scrollu */
  inset: 0;
  z-index: 0;

  background-image: url("https://www.shutterstock.com/image-vector/highperformance-liquid-chromatography-hplc-machine-600nw-2251283969.jpg");
  background-repeat: no-repeat;
  background-position: center 75%;
  background-size: 360px auto;

  opacity: .10;
  pointer-events: none;
}

/* obsah nad obrázkem */
.s9t60i1 > *{
  position: relative;
  z-index: 1;
}
