.s9t60i1 {
    position: relative;
    padding: 0 20px 20px;
    margin-bottom: -20px;
    overflow: hidden;
    scrollbar-width: none;
    flex-grow: 1;
    overflow-y: auto;
    width: 100%;

    background-color: #eaf4ff; /* světle modrá */
}
