._1q15b0b1 {
border-radius: 8px;
color: var(--_1bof89n5);
background-color: #d4223d;
line-height: 20px;
padding: 7px 12px 6px;
white-space: normal;
word-break: break-word;
text-align: left;
height: fit-content;
}
