.s9t60i1 {
    position: relative;
    padding: 0 20px 20px;
    margin-bottom: -20px;
    scrollbar-width: none;
    flex-grow: 1;
    overflow-y: auto;
    width: 100%;

    /* diagonální pozadí */
    background: linear-gradient(
        135deg,
        var(--_1bof89n5) 0%,
        var(--_1bof89n5) 55%,
        #ffffff 55%,
        #ffffff 100%
    );
}
