.s9t60i1 {
  background-image: url("https://www.shutterstock.com/image-vector/highperformance-liquid-chromatography-hplc-machine-600nw-2251283969.jpg");
  background-repeat: no-repeat;
  background-position: center 75%;
  background-size: 360px auto;
  background-attachment: fixed; /* drží pozici */
}
