._1q15b0b1 {
border-radius: 8px;
color: #db2424;
background-color: #0b130b;
line-height: 20px;
padding: 7px 12px 6px;
white-space: normal;
word-break: break-word;
text-align: left;
height: fit-content;
}
